{% extends 'base.html' %} {% block title %} Caja {% endblock %}

<!-- aca va la vista de caja -->
{% block content %}
<style>
  /* tres columnas para la clase caja */
  .caja {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    background-color: #fff;
    color: #444;
  }
</style>

<div class="container">
  <div class="caja">
    <div>
      <h1>Mesas</h1>
      {% for mesa in mesas %}
      <p>{{ mesa.id }}</p>
      {% endfor %}
    </div>

    <div>
      <h1>Comandas</h1>
      {% for comanda in comandas %}
      <p>{{ comanda.producto }}</p>
      {% endfor %}
    </div>
    <div>
      <h1>Ticket</h1>
      <form method="POST">
        {% csrf_token %}
        <!-- form -->
        {% for field in ticket_form %}
        <div class="form-group">
          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
          {{ field }} {% if field.errors %}
          <div class="text-danger">{{ field.errors }}</div>
          {% endif %}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Generar ticket</button>
      </form>
      <p>Valor total: $ {{ valor_total }}</p>
    </div>
  </div>
</div>
{% endblock %}
