{% extends 'base.html' %} {% block title %} Caja {% endblock %}

<!-- aca va la vista de caja -->
{% block content %}
<style>
  /* tres columnas para la clase caja */
  .caja {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    background-color: #fff;
    color: #444;
  }
  .mesa-card{
    border-radius: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;

    width: 100%;
    height: 100%;
  }
  .mesa-card:hover {
    transform: scale(1.15);
  }
  .bg-red {
    background-color: red;
  }
  .text-white {
    color: white;
  }
  .bg-green {
    background-color: green;
  }
  .bg-orange {
    background-color: orange;
  }
  .bg-blue {
    background-color: blue;
  }
  .text-black {
    color: black;
  }
  
  .mesas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }

  .mesa-card > button {
    width: 100%;
    height: 100%;
  }

  .container, .container div {
    background-color: #F1F8FF;
  }
</style>

<div class="container">
  <div class="caja">
    <div class= "row">
      <div>
        <h1>Mesas</h1>
          <div class="mesas">
                    {% for item in mesas_estado %}
                      <form class="mesa-card" method="get">
                        <input type="text"
                          hidden
                          name="mesa"
                          value="{{ item.mesa.id }}" 
                          id="{{ item.mesa.id }}"
                        />
                                {%if item.estado == "Libre"%}
                                    <button type="submit" class="bg-green text-white p-3">
                                {%elif item.estado == "Para Entregar"%}
                                    <button type="submit" class="bg-red text-white p-3">
                                {%elif item.estado == "En Preparacion"%}
                                    <button type="submit" class="bg-blue text-white p-3">
                                {%else%}
                                  <button type="submit" class="bg-orange text-black p-3">
                                {%endif %}
                                <h3>Mesa {{ item.mesa.nro_mesa }}</h3>
                                <p>Estado: <strong>{{ item.estado }}</strong></p>
                                </button>
                        </form>
                {% endfor %}
              </div>
            </div>
    </div>

    <div>
      <h1>Comandas</h1>
      {% for comanda in comandas %}
      <p>{{ comanda.producto }}</p>
      {% endfor %}
    </div>

    <div>
      <h1>Ticket</h1>
      <form method="POST">
        {% csrf_token %}
        <!-- form -->
        {% for field in ticket_form %}
        <div class="form-group">
          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
          {{ field }} {% if field.errors %}
          <div class="text-danger">{{ field.errors }}</div>
          {% endif %}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Generar ticket</button>
      </form>
        <p>Valor total: $ {{ valor_total }}</p>
      </div>
  </div>
</div>
</div>
{% endblock %}

<!--<div>
  <h1>Mesas</h1>
  {% for mesa in mesas %}
  <form method="get">
    <input type="text"
    hidden
    name="mesa"
    value="{{ mesa.id }}" 
    id="{{ mesa.id }}"
    />
    <button type="submit" class="btn btn-primary mt-2">Mesa {{ mesa.id }}</button>
  </form>
  {% endfor %}
</div>-->