{% extends 'base.html' %}

{% block title %}
Facturas
{% endblock %}

{% block content %}
<div class="container">
    <div 
    class="d-flex justify-content-between mb-4 mt-4 items-center w-full"
    >
        <h2>Facturas</h2>
        {% url 'create_factura' as url_create %}
        <a href="{{ url_create }}" class="btn btn-primary">Crear</a>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Pago</th>
                        <th>Ticket</th>
                    </tr>
                </thead>
                <tbody>
                    {% for factura in facturas %}
                    <tr>
                        <td>{{ factura.id }}</td>
                        <td>{{ factura.pago }}</td>
                        <td>{{ factura.ticket }}</td>
                        <td>
                            {% url 'update_factura' factura.id as url_update %}
                            <a href="{{ url_update }}" class="btn btn-info">Editar</a>
                            {% url 'delete_factura' factura.id as url_delete %}
                            <a href="{{ url_delete }}" class="btn btn-danger">Eliminar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
</div>
{% endblock %}