{% extends 'base.html' %}

{% block title %}
Cocina
{% endblock %}

{% block content %}
<div class="container">
    <h2>Cocina</h2>
    {% for comanda in comandas %}
    <div>
        <p>{{ comanda.id }}</p>
        <p>{{ comanda.producto }}</p>
        <p>{{ comanda.cantidad }}</p>
        <p>{{ comanda.estado }}</p>
        <p>{{ comanda.tipo_de_pedido }}</p>
        <p>{{ comanda.ticket }}</p>
        <p>{{ comanda.mesa }}</p>
        <p>{{ comanda.fecha }}</p>
    </div>
    {% endfor %}
</div>
{% endblock %}