{% extends 'base.html' %}

{% block title %}
Administrador
{% endblock %}

{% block content %}
<style>
    .w-fit {
        width: fit-content;
    }
</style>
<div class="d-flex">
    <nav
    class="col-1 d-flex flex-column justify-content-start align-items-start p-4 bg-dark min-vh-100 gap-2 w-fit"
    >
    {% url 'comanda' as comanda %}
    {% url 'estado' as estado %}
    {% url 'factura' as factura %}
    {% url 'mesa' as mesa %}
    {% url 'pago' as pago %}
    {% url 'persona' as persona%}
    {% url 'producto_admin' as producto %}
    {% url 'rol' as rol %}
    {% url 'tipoProducto' as tipo_producto %}
    {% url 'tipoDePedido' as tipo_pedido %}
    {% url 'forma_pago' as forma_pago %}
    {% url 'condiciones' as condiciones %}
    {% url 'ticket' as ticket %}
    {% url 'administracion' as administracion %}

    <a class="text-success btn btn-primary" href="{{ comanda }}">Comanda</a>
    <a class="text-success btn btn-primary" href="{{ condiciones }}">Condiciones</a>
    <a class="text-success btn btn-primary" href="{{ estado }}">Estado</a>
    <a class="text-success btn btn-primary" href="{{ factura }}">Factura</a>
    <a class="text-success btn btn-primary" href="{{ forma_pago }}">Forma de Pago</a>
    <a class="text-success btn btn-primary" href="{{ mesa }}">Mesa</a>
    <a class="text-success btn btn-primary" href="{{ pago }}">Pago</a>
    <a class="text-success btn btn-primary" href="{{ persona }}">Persona</a>
    <a class="text-success btn btn-primary" href="{{ producto }}">Producto</a>
    <a class="text-success btn btn-primary" href="{{ rol }}">Rol</a>
    <a class="text-success btn btn-primary" href="{{ tipo_producto }}">Tipo Producto</a>
    <a class="text-success btn btn-primary" href="{{ tipo_pedido }}">Tipo Pedido</a>
    <a class="text-success btn btn-primary" href="{{ ticket }}">Ticket</a>
    <a class="text-success btn btn-primary" href="{{ administracion }}">Administración</a>
    </nav>

    <main class="col-11">
        <h1>Administración - {% block title_heading %}{% endblock %}</h1>
        {% block main %}{% endblock %}
        
    </main>
</div>
{% endblock %}