{% extends 'base.html' %}

{% block title %}
Administrador
{% endblock %}

{% block content %}
<div class="row row-cols-12">
    <nav
    class="col-1 d-flex flex-column justify-content-start align-items-center"
    >
    {% url 'producto_admin' as producto %}
    <a href="{{ producto }}">Producto</a>
    {% url 'comanda' as comanda %}
    <a href="{{ comanda }}">Comanda</a>
    {% url 'estado' as estado %}
    <a href="{{ estado }}">Estado</a>
    {% url 'mesa' as mesa %}
    <a href="{{ mesa }}">Mesa</a>
    {% url 'factura' as factura %}
    <a href="{{ factura }}">Factura</a>
    {% url 'pago' as pago %}
    <a href="{{ pago }}">Pago</a>
    {% url 'persona' as persona%}
    <a href="{{ persona }}">Persona</a>
    </nav>

    <main class="col-11">
        <h1>Administración - {% block title_heading %}{% endblock %}</h1>
        {% block main %}{% endblock %}
        
    </main>
</div>
{% endblock %}